@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Work+Sans:wght@100;500;700&display=swap');

/* header*/
.container{
    position: absolute;
width: 1920px;
height: 1322px;
left: 0px;
top: 0px;

background: rgba(255, 144, 14, 0.1);
}
.nav-title{
position: absolute;
width: 302px;
height: 53px;
left:162px;
top: 23px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size:23px;
line-height: 53px;
text-align: center;
color: #131313;
}

nav{
    margin-right: 10px;
    float: right;
}
ul{
    display: flex;
    gap: 47px;
    position: absolute;
    width: 477px;
    height: 26px;
    right:488px;
    top: 63px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;
   
} 
li{
    display: flex;
}
a{
    text-decoration: none;
    color: black!important;
}
.header{
    position: absolute;
    width: 862px;
    height: 225px;
    left:303px;
    top: 66px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 75px;
    text-align: center;
    color: #131313;

}
.sub-title{
    position: absolute;
    position: absolute;
    width: 813px;
    height: 52px;
    left:401px;
    top: 379px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.first-button{
    position: absolute;
    width: 146px;
    height: 57px;
    left: 685px;
    top: 479px;
    background-color: #ff7a00e0;
    color: white;
    font-size: 15px;
    border: navajowhite;
    border-radius: 7px;

}
.banner-1{
    position: absolute;
    width: 55%;
    height: 700px;
    left:241px;
    top: 577px;
    background: url(../images/banner.png);
    border-radius: 8px;
}
.section-container{
    position: absolute;
width: 342px;
height: 342px;
left: 301px;
top: 1407px;
}
.image-section{
    display: flex;
    gap: 8px;
    margin-bottom: 7px;
    margin-left: -94px;
}
.section-container-secondrow{

}
.secondrow-title{
    position: absolute;
    width: 468px;
    height: 106px;
    right: -230%;
    top: 160px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
/* some titile bold color in black */
b{
    color: #131313;
}

/* some different color span tag*/
span{
    color:#FF900E;
}
.secondrow-subtitle{
    position: absolute;
    width: 517px;
    height: 78px;
    left: 660px;
    top: 314px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 26px;
    color: gray;
}
.secondrow-button{
    position: absolute;
    width: 151px;
    height: 57px;
    left: 660px;
    top: 439px;
    background: #FF900E;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    border: navajowhite
}