@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Work+Sans:wght@100;500;700&display=swap');

/* header*/
.container{
    position: absolute;
width: 1920px;
height: 1322px;
left: 0px;
top: 0px;

background: rgba(255, 144, 14, 0.1);
}
.nav-title{
position: absolute;
width: 302px;
height: 53px;
left:162px;
top: 23px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size:23px;
line-height: 53px;
text-align: center;
color: #131313;
}

nav{
    margin-right: 10px;
    float: right;
}
ul{
    display: flex;
    gap: 47px;
    position: absolute;
    width: 477px;
    height: 26px;
    right:488px;
    top: 63px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;
   
} 
li{
    display: flex;
}
a{
    text-decoration: none;
    color: black!important;
}
.header{
    position: absolute;
    width: 862px;
    height: 225px;
    left:303px;
    top: 66px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 75px;
    text-align: center;
    color: #131313;

}
.sub-title{
    position: absolute;
    position: absolute;
    width: 813px;
    height: 52px;
    left:401px;
    top: 379px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.first-button{
    position: absolute;
    width: 146px;
    height: 57px;
    left: 685px;
    top: 479px;
    background-color: #ff7a00e0;
    color: white;
    font-size: 15px;
    border: navajowhite;
    border-radius: 7px;

}
.banner-1{
    position: absolute;
    width:60%;
    height: 700px;
    left:241px;
    top: 577px;
    background: url(../images/banner.png);
    border-radius: 8px;
}
.section-container{
    position: absolute;
width: 342px;
height: 342px;
left: 301px;
top: 1407px;
}
.image-section{
    display: flex;
    gap: 14px;
    margin-bottom: 16px;
    margin-left: -58px;
}

.secondrow-title{
    position: absolute;
    width: 468px;
    height: 106px;
    right:-247%;
    top: 160px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
/* some titile bold color in black */
b{
    color: #131313;
}

/* some different color span tag*/
span{
    color:#FF900E;
}
.secondrow-subtitle{
    position: absolute;
    width: 517px;
    height: 78px;
    left:719px;
    top: 314px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 26px;
    color: gray;
}
.secondrow-button{
    position: absolute;
    width: 151px;
    height: 57px;
    left:717px;
    top: 439px;
    background: #FF900E;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    border: navajowhite
}
hr{
    position: absolute;
    width: 3px;
    height: 106px;
    left:-101px;
    top: 780px;
    background: #FF900E;

background: #FF900E;
}
.third-sectiontitle{
    position: absolute;
    width: 468px;
    height: 106px;
    left:-70px;
    top: 740px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.third-subtitle{
    position: absolute;
    width: 564px;
    height: 78px;
    left:-101px;
    top: 894px;
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 26px;
    color: #727272;
}
.box{
    position: absolute;
    width: 586px;
    height: 171px;
    left:-101px;
    top: 1015px;
    box-shadow: 0px 1px 5px 2px lightgrey;

}
.box-title{

    position: absolute;
    width: 586px;
    height: 171px;
    left: 29px;
    font-size: 16px;
    top: 12px;
}
.box-subtitle{
    position: absolute;
    width: 509px;
    height: 78px;
    left: 29px;
    top: 37px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    color: #727272;
}

.box-1{
    position: absolute;
    width: 586px;
    height: 171px;
    left:-101px;
    top: 1224px;
    box-shadow: 0px 1px 5px 2px lightgrey;


}
.box-title-1{

    position: absolute;
    width: 586px;
    height: 171px;
    left: 29px;
    font-size: 16px;
    top: 12px;
}
.box-subtitle-1{
    position: absolute;
    width: 509px;
    height: 78px;
    left: 29px;
    top: 37px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    color: #727272;
}

.box-2{
    position: absolute;
    width: 586px;
    height: 171px;
    left:-101px;
    top: 1441px;
    box-shadow: 0px 1px 5px 2px lightgrey;


}
.box-title-2{

    position: absolute;
    width: 586px;
    height: 171px;
    left: 29px;
    font-size: 16px;
    top: 12px;
}
.box-subtitle-2{
    position: absolute;
    width: 509px;
    height: 78px;
    left: 29px;
    top: 37px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    color: #727272;
}
.third-imgsection{
    position: absolute;
    width: 622px;
    height: 833px;
    left: 558px;
    top: 767px;
    background: url(../images/architect.png);
    border-radius: 8px;
}
.thirdbutton{
    position: absolute;
    width: 157px;
    height: 85px;
    left: 531px;
    top: 1533px;
    font-size: 23px;
    color: white;
    background-color: orange;
    border: navajowhite;
    border-radius: 3px;
}
.forth-title{
    position: absolute;
    width: 258px;
    height: 53px;
    left: -106px;
    top: 1664px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.forth-subtitle{
    position: absolute;
    width: 544px;
    height: 52px;
    left: -107px;
    top: 1756px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.forth-box{
    box-sizing: border-box;
    position: absolute;
    width: 238px;
    height: 218px;
    left: -74px;
    top: 1883px;
    border-radius: 7px;
    border: 1px solid #FF900E;
    transition: width 5s transform 5s;
    /*transform: rotate(90deg);*/
}
.forth-box:hover{
    
    transform: rotate(-60deg);
    transform-origin: top right;
}
.forthimg{
    position: absolute;
    width: 66.22px;
    height: 62px;
    left: 87px;
    top:35px;
}
.forth-boxtitle{
    position: absolute;
    width: 102px;
    height: 53px;
    left: 67px;
    top:69px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
}
.forth-boxsubtitle{
    position: absolute;
    width: 169px;
    height: 23px;
    left: 48px;
    top: 141px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #727272;
}
.forth-box-1{
    box-sizing: border-box;
    position: absolute;
    width: 238px;
    height: 218px;
    left: 263px;
    top: 1883px;
    border: 1px solid #FF900E;
    border-radius: 7px;
    transition: width 5s transform 5s;
    /*transform: rotate(90deg);*/
}
.forth-box-1:hover{
    
    transform: rotate(-60deg);
    transform-origin: top right;
}
.forthimg-1{
    position: absolute;
    width: 66.22px;
    height: 62px;
    left: 87px;
    top:35px;
}
.forth-boxtitle-1{
    position: absolute;
    width: 102px;
    height: 53px;
    left: 67px;
    top:69px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
}
.forth-boxsubtitle-1{
    position: absolute;
    width: 169px;
    height: 23px;
    left: 48px;
    top: 141px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #727272;
}


.forth-box-2{
    box-sizing: border-box;
    position: absolute;
    width: 238px;
    height: 218px;
    left:616px;
    top: 1883px;
    border: 1px solid #FF900E;
    border-radius: 7px;
    /*transform: rotate(90deg);*/
    transition: width 5s transform 5s;
}
.forth-box-2:hover{
    
    transform: rotate(-60deg);
    transform-origin: top right;
}
.forthimg-2{
    position: absolute;
    width: 66.22px;
    height: 62px;
    left: 87px;
    top:35px;
}
.forth-boxtitle-2{
    position: absolute;
    width: 102px;
    height: 53px;
    left: 67px;
    top:69px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
}
.forth-boxsubtitle-2{
    position: absolute;
    width: 169px;
    height: 23px;
    left: 48px;
    top: 141px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #727272;
}



.forth-box-3{
    box-sizing: border-box;
    position: absolute;
    width: 238px;
    height: 218px;
    left:950px;
    top: 1883px;
    border: 1px solid #FF900E;
    border-radius: 7px;
    transition: width 5s transform 5s;
    
}
.forth-box-3:hover{
    
    transform: rotate(-60deg);
    transform-origin: top right;
}
.forthimg-3{
    position: absolute;
    width: 66.22px;
    height: 62px;
    left: 87px;
    top:35px;
}
.forth-boxtitle-3{
    position: absolute;
    width: 102px;
    height: 53px;
    left: 67px;
    top:69px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
}
.forth-boxsubtitle-3{
    position: absolute;
    width: 169px;
    height: 23px;
    left: 48px;
    top: 141px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #727272;
}
.fifthsection-title{
    position: absolute;
    width: 258px;
    height: 53px;
    left:527px;
    top: 2146px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 53px;
    color: #131313;
}
.fifth-box{
    box-sizing: border-box;
    position: absolute;
    width: 322px;
    height: 361px;
    left: -74px;
    top: 2281px;
    border-radius: 7px;
   
    box-shadow: 3px 3px 9px 3px gray;
}

.fifth-box:hover{
    box-sizing: border-box;
    position: absolute;
    width: 322px;
    height: 361px;
    left: -74px;
    top: 2281px;
    border-radius: 7px;
   background-color: skyblue;
    box-shadow: 3px 3px 9px 3px gray;
}
.fifthimg{
    width: 50%;
    height: 39%;
    border-radius: 50%;
    margin-left: 74px;
    margin-top: 23px;
}
.fifth-boxtitle-1{
    position: absolute;
    width: 102px;
    height: 53px;
    left: 103px;
    top: 132px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 53px;
    text-align: center;
    color: #424242
}

.fifth-boxsubtitle-1{
    position: absolute;
    width: 257px;
    height: 23px;
    left: 48px;
    top: 207px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 23px;
}


.fifth-box-2{
    box-sizing: border-box;
    position: absolute;
    width: 322px;
    height: 361px;
    left: 444px;
    top: 2281px;
    border-radius: 7px;
    box-shadow: 3px 3px 9px 3px grey;
}
.fifth-box-2:hover{
    background-color:skyblue;
}


.fifthimg{
    width: 50%;
    height: 39%;
    border-radius: 50%;
    margin-left: 74px;
    margin-top: 23px;
}
.fifth-boxtitle-2{
    position: absolute;
    width: 102px;
    height: 53px;
    left: 103px;
    top: 132px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 53px;
    text-align: center;
    color: #424242
}

.fifth-boxsubtitle-2{
    position: absolute;
    width: 257px;
    height: 23px;
    left: 48px;
    top: 207px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 23px;
}


.fifth-box-3{
    box-sizing: border-box;
    position: absolute;
    width: 322px;
    height: 361px;
    left: 954px;
    top: 2281px;
    border-radius: 7px;
    box-shadow: 3px 3px 9px 3px grey;
}
.fifth-box-3:hover{
    background-color:skyblue;
}


.fifthimg{
    width: 50%;
    height: 39%;
    border-radius: 50%;
    margin-left: 74px;
    margin-top: 23px;
}
.fifth-boxtitle-3{
    position: absolute;
    width: 102px;
    height: 53px;
    left: 103px;
    top: 132px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 53px;
    text-align: center;
    color: #424242
}

.fifth-boxsubtitle-3{
    position: absolute;
    width: 257px;
    height: 23px;
    left: 48px;
    top: 207px;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 23px;
}

.Sponspors-title{
    position: absolute;
    width: 327px;
    height: 53px;
    left: 402px;
    top: 2724px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.Sponspors-subtitle{
    position: absolute;
    width: 542px;
    height: 52px;
    left: 286px;
    top: 2822px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272
}
.sponsors-imagesection{
    display: flex;
    margin-top: 2271px;
    gap: 206px;

}
.footer-section{
    position: absolute;
    width: 1339px;
    height: 78px;
    left: 240px;
    top: 4597px;
    background: #FFF4E7;
    border-radius: 8px
}
.footer-sectionTitle{
    position: absolute;
    width: 620px;
    height: 23px;
    left: 331px;
    top: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #424242;
}


@media only screen and (max-width:600px) {
    .nav-title {
        position: absolute;
        width: 302px;
        height: 53px;
        left: 120px;
        top: -18px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 53px;
        text-align: center;
        color: #131313;}

    ul{
        display: grid;
        gap: 8px;
        position: absolute;
        width: 477px;
        height: 26px;
        right: 1203px;
        top: 63px;
        font-family: 'Work Sans';
        font-style: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #424242;
      }
      .header {
        position: absolute;
        width: 862px;
        height: 225px;
        left: -129px;
        top: 145px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        color: #131313;
        font-weight: 770;
line-height: 43px;
      }
      .sub-title {
        position: absolute;
        position: absolute;
        width: 575px;
        height: 52px;
        left: 8px;
        top: 333px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        color: #727272;
      }

      .banner-1 {
        position: absolute;
        width: 30%;
        height: 700px;
        left: 5px;
        top: 535px;
        background: url(../images/banner.png);
        border-radius: 8px;
      }

      .image-section {
        display: grid;
        gap: 9px;
        margin-bottom: 16px;
        margin-left: -176px;
      }

      .secondrow-title {
        position: absolute;
        width: 468px;
        height: 106px;
        right: 11%;
        top: 1381px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 53px;
        color: #727272;
      }
      .secondrow-button {
        position: absolute;
        width: 151px;
        height: 57px;
        left: -160px;
        top: 1533px;
        background: #FF900E;
        border-radius: 8px;
        color: white;
        font-size: 17px;
        border: navajowhite;
      }
      .third-sectiontitle {
        position: absolute;
        width: 468px;
        height: 106px;
        left: -170px;
        top: 1576px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 53px;
        color: #131313;
      }
      hr {
        position: absolute;
        width: 3px;
        height: 106px;
        left: -196px;
        top: 472%;
        background: #FF900E;
        background: #FF900E;
      }

      .third-subtitle {
        position: absolute;
        width: 564px;
        height: 78px;
        left: -198px;
        top: 511%;
        font-family: 'Work Sans';
        font-size: 10px;
        line-height: 26px;
        color: #727272;
      }
      .box-1 {
        position: absolute;
        width: 454px;
        height: 171px;
        left: -196px;
        top: 1755px;
        box-shadow: 0px 1px 5px 2px lightgrey;
      }
      .box-2 {
        position: absolute;
        width: 453px;
        height: 172px;
        left: -193px;
        top: 1969px;
        box-shadow: 0px 1px 5px 2px lightgrey;
      }
      .box {
        position: absolute;
        width: 451px;
        height: 171px;
        left: -192px;
        top: 2176px;
        box-shadow: 0px 1px 5px 2px lightgrey;
      }
      .third-imgsection {
        position: absolute;
        width: 160%;
        height: 712px;
        left: -297px;
        top: 2389px;
        background: url(../images/architect.png);
        border-radius: 8px;
      }
      .thirdbutton {
        position: absolute;
        width: 157px;
        height: 85px;
        left: -58px;
        top: 3068px;
        font-size: 23px;
        color: white;
        background-color: orange;
        border: navajowhite;
        border-radius: 3px;
      }
      .forth-title {
        position: absolute;
        width: 258px;
        height: 53px;
        left: -301px;
        top: 3131px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 53px;
        color: #131313;
      }
      .forth-subtitle {
        position: absolute;
        width: 544px;
        height: 52px;
        left: -292px;
        top: 3215px;
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #727272;
      }
      .forth-box {
        box-sizing: border-box;
        position: absolute;
        width: 238px;
        height: 218px;
        left: -74px;
        top: 3327px;
        border-radius: 7px;
        border: 1px solid #FF900E;
        
      }
      .forth-box-1 {
        box-sizing: border-box;
        position: absolute;
        width: 238px;
        height: 218px;
        left: -70px;
        top: 3572px;
        border: 1px solid #FF900E;
        border-radius: 7px;
        
      }
      .forth-box-2 {
  box-sizing: border-box;
  position: absolute;
  width: 238px;
  height: 218px;
  left: -70px;
  top: 3825px;
  border: 1px solid #FF900E;
  border-radius: 7px;

}.forth-box-3 {
    box-sizing: border-box;
    position: absolute;
    width: 236px;
    height: 218px;
    left: -70px;
    top: 4082px;
    border: 1px solid #FF900E;
    border-radius: 7px;
  }
  .fifthsection-title {
    position: absolute;
    width: 258px;
    height: 53px;
    left: -131px;
    top: 4324px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 53px;
    color: #131313;
  }

  .fifth-box {
    box-sizing: border-box;
    position: absolute;
    width: 322px;
    height: 361px;
    left: -133px;
    top: 4418px;
    border-radius: 7px;
    box-shadow: 3px 3px 9px 3px gray;
  }
  .fifth-box-2 {
    box-sizing: border-box;
    position: absolute;
    width: 322px;
    height: 361px;
    left: -132px;
    top: 4819px;
    border-radius: 7px;
    box-shadow: 3px 3px 9px 3px grey;
  }

  .fifth-box-3 {
    box-sizing: border-box;
    position: absolute;
    width: 322px;
    height: 361px;
    left: -132px;
    top: 5232px;
    border-radius: 7px;
    box-shadow: 3px 3px 9px 3px grey;
  }

 
.Sponspors-title {
    position: absolute;
    width: 327px;
    height: 53px;
    left: -147px;
    top: 5604px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: #131313;
  }
  .Sponspors-img {
    margin-top: 595%;
    left: 6px;
    margin-left: -69px;
  }
  
  
}
  